*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("media/images/abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Noir;
    font-weight: lighter;
}
